.sidebar ul li a i {
    margin-top: 3px;
}

.sidebar ul li.divider {
    margin-right: -15px;
    margin-left: -15px;
}

.demo-content {
    padding-bottom: 80px;
}

.demo-content h4 {
    font-weight: bold;
}

.sample-gremlins > div {
    background-color: rgba(0,170,255, 0);

    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
    margin-bottom: 20px;
}

.sample-gremlins.lazy-gremlins > div {
    -webkit-transition: all 3s ease-out;
    -moz-transition: all 3s ease-out;
    -o-transition: all 3s ease-out;
    transition: all 3s ease-out;
}
.sample-gremlins.lazy-gremlins > div + div {
    margin-top: 400px;
}

.sample-gremlins *[data-gremlin-name],
.sample-gremlins *[data-gremlin-found] {
    position: relative;
    padding: 10px 20px;
}

.sample-gremlins *[data-gremlin-found] {
    background: rgba(0,170,255, 0.3);
}
.sample-gremlins *[data-gremlin-found].gremlin-loading {
    background: rgba(0,170,255, 0);
}
.sample-gremlins.lazy-gremlins *[data-gremlin-found].gremlin-ready {
    background: rgba(0,170,255, 0.9);
}

.sample-gremlins *[data-gremlin-found]::before {
    font-family: monospace;
    content: '[' attr(data-gremlin-found) ']';
    position: absolute;
    top: -14px;
    right: 2px;
    font-size: 10px;
    font-weight: bold;

}